.top {
  position: relative;
  top:0;
  left:0;
  right:0;
  height:50%;
}
.bottom {
  position:relative;
  left:0;
  right:0;
  height:50%;
  bottom:0;
}
.portfolio {
  position:absolute;
  display: inline-block;
  left:0%;
  height:50%;
  width:30%;
  top:-75px;
}
.whaleview{
  position:absolute;
  left:40%;
  height:50%;
  width:15%;
  bottom:25%;
}
.transaction {
  position:absolute;
  left:60%;
  height:50%;
  width:30%;
  top: -100px;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.container{
  background-color: rgb(214, 214, 255);
  margin: 5px;
  left:10%;
  text-align: left;
  width:25%;
  border: 5px solid black;
  padding: 3px;
}
.element {
  font-size: x-small;
}
.tab-list {  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

